<div class="card">
    <div class="card-header">
        <h1>Editing Enrollement</h1>
    </div>
    <div class="card-body">
        <%= render 'form', enrollement: @enrollement %>
    </div>
    <div class="card-footer">
        <%= link_to 'Show', @enrollement %> |
        <%= link_to 'Back', enrollements_path %>
    </div>
</div>





