<% content_for :title do %>
    ULearn
    \
    New enrollement
<% end %>

<div class="card">
    <div class="card-header">
        <h1>Buy course</h1>
        <%= link_to @course.title, course_path(@course) %>
    </div>
    <div class="card-body">
        <%= form_tag course_enrollements_path(@course) do %>
            <%= submit_tag "Buy Now! #{@course.price}", class: 'btn btn-md btn-success' %>
        <% end %>
    </div>
    <div class="card-footer">
        <%= link_to 'Back', enrollements_path %>
    </div>
</div>