<% @lessons.each do |lesson| %>
    <div class="card">
        <div class="card-header">
            <div class="fa fa-check-square"></div>
            <%= link_to lesson.title, lesson %>
        </div>
        <% if policy(lesson).show? %>
            <div class="card-body">
                <%= lesson.content %>
            </div>
        <% end %>
        <% if current_user && current_user.has_role?(:admin) %>
            <div class="card-footer">
                <%= link_to 'Edit', edit_lesson_path(lesson) %>
                <%= link_to 'Destroy',lesson, method: :delete, data: {confirm: 'Are you sure?'} %>
            </div>
        <% end %>
    </div>
<% end %>