<% content_for :title do %>
    ULearn
    \
    Edit
    <%= @course.title %>
<% end %>
<div class="card">
    <div class="card-header">
        <h3>
            <div class="fa fa-graduation-cap"></div>
            Editing Course
        </h3>
    </div>
    <div class="card-body">
        <%= render 'form', course: @course %>
    </div>
</div>
<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
